.idea/.gitignore
.idea/AugmentWebviewStateStore.xml
.idea/misc.xml
.idea/modules.xml
.idea/nginx-demo.iml
.idea/vcs.xml
angular-calendar/.vscode/extensions.json
angular-calendar/.vscode/launch.json
angular-calendar/.vscode/tasks.json
angular-calendar/.vscode/extensions.json
angular-calendar/.editorconfig
angular-calendar/.vscode/extensions.json
